<div class="art-box">
<h1> Thể lệ cuộc thi</h1>
<h3 class="text-center text-primary">Cuộc thi: Vẽ tranh nha học đường “Hãy vẽ về tương lai cùng với những nụ cười rạng rỡ”.</h3>
<h4>I. Nội dung</h4>
<p><strong>1. Tên gọi Cuộc thi:</strong> Cuộc thi vẽ tranh nha học đường “Hãy vẽ về tương lai cùng với những nụ cười rạng rỡ”.</p>
<p><strong>2. Đối tượng dự thi:</strong> Học sinh từ lớp 1 đến lớp 4 đang học tập tại trường.</p>
<p><strong>3. Hình thức thể hiện, quy cách trình bày:</strong></p>

<ul>
<li>Mỗi học sinh được gửi 01 tác phẩm</li>

  <li>Tác phẩm được thể hiện trên các khổ giấy A4 (21x29,7cm); A3 (29,7 x42cm)</li>

    <li>Không hạn chế về màu sắc</li>

      <li>Mặt trước của tác phẩm không được để bất cứ thông tin gì về tác giả</li>

        <li>Cách thức tải tác phẩm lên trang Website:  www.nucuoirangrotuonglaituoisang.com( tham khảo mục 6)</li>

          <li>Tác phẩm phải điền đầy đủ thông tin người tham dự cuộc thi như: ngày sinh, địa chỉ, thông tin trường, thông tin phụ huynh, số điện thoại để thuận tiện liên hệ khi cần thiết.</li>

            <li> Tác phẩm phải là bản gốc do chính tác giả vẽ mà không có sự hỗ trợ của người khác. Tác phẩm không được sao chép hoặc lấy ý tưởng dựa trên tác phẩm của người khác, chưa gửi tham gia các cuộc thi nào khác. Tác phẩm được tạo ra bởi đồ họa máy tính sẽ bị loại.</li>
</ul>

<p><strong>4. Chủ đề cuộc thi: “Hãy vẽ về tương lai cùng với những nụ cười rạng rỡ”</strong></p>
</div>

