<div class="xem-ket-qua-page">
  <div class="art-box">
    <h1>Kết Quả Dự Thi</h1>
    <form [formGroup]="resultForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <img width="80%" src="assets/img/look-up.png" alt="">
      </div>
      <div class="input-group text-center search-wraper mb-4" hasError="code">
        <input type="number" formControlName="code" placeholder="Nhập mã bài dự thi (vd: 20)"
          class="form-control  mr-2 search-input" style="-moz-appearance: textfield;">
      </div>
      <p class="text-muted text-center mb-3">Mã bài dự thi được về email khi nộp bài</p>

       <div class="text-center mb-3">
        <button type="submit" [class.is-loading]="loading" class="btn btn-primary">Tra kết quả</button>
       </div>


      <div *ngIf="error" class="alert alert-danger my-3 mb-0">{{error}}</div>

      <ng-container *ngIf="result">
        <div class="input-group mt-3 row align-items-center">
          <label class="col-4 col-form-label">Bài dự thi:</label>
          <div class="col-8">
            <div class="text-14"><i>{{result.id}} - {{result.name_exam}}</i></div>
            <div><img width="100%" style="max-width: 320px" height="auto" [src]="'https://hvn.gapit.com.vn/' + result.image" alt="img"></div>
            <small><i>{{result.description}}</i></small>
          </div>
        </div>

        <div class="input-group row align-items-center">
          <label class="col-4 col-form-label">Tổng điểm:</label>
          <div class="col-8">
            <h5 class="text-primary m-0">{{result?.point}}</h5>
          </div>
        </div>

        <div *ngIf="result.rank" class="input-group row align-items-center mb-4">
          <label class="col-4 col-form-label">Thứ hạng:</label>
          <div class="col-8">
            <h6 class="text-secondary m-0">{{result.rank}}</h6>
          </div>
        </div>
      </ng-container>




    </form>
  </div>

</div>
