<!-- <div class="row">
  <div class="col-md-5 offset-md-7" >
    <div class="art-box">
      <h1> Mau dang ky du thi</h1>
      <app-register-form *ngIf="!currentUser?.student?.student_info"></app-register-form>
      <app-contest-form *ngIf="currentUser?.student?.student_info"></app-contest-form>
    </div>
  </div>
</div> -->

<div class="dang-ki-page">
  <div *ngIf="currentUser?.UserType == 'student'" class="art-box">
    <h1>Mẫu đăng ký dự thi </h1>
    <app-register-form *ngIf="(state | async) == 0" (onSubmitRegister)="onSubmitRegister()"></app-register-form>
    <app-contest-form *ngIf="(state | async) == 1" (onSubmitArt)="onSubmitArt()" ></app-contest-form>
    <app-success-submit *ngIf="(state | async) == 2"></app-success-submit>
    <app-edit-contest-form *ngIf="(state | async) == 3" (onSubmitArt)="onSubmitArt()" [exam]="currentExam"></app-edit-contest-form>

  </div>
</div>
