<button (click)="doSnap()">do</button>
<div class="row no-gutters">
    <div class="col-md-8">
        <div class="wrapper-content">
            <nav class="navbar d-flex navbar-expand-lg navbar-light border-bottom py-4">
                <a href=""><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Bộ dụng cụ lớp học</a>
            </nav>
            <div class="request-content">
                <!-- <div class="section-form">
                    <h3 class="text-primary">Giới thiệu về Lớp học</h3>
                    <h6 class="mb-3">Giúp chúng tôi cấu hình bộ dụng cụ của bạn theo các tùy chọn có sẵn trong lớp
                        học của bạn.</h6>
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Phòng học có đầu đĩa DVD và tôi muốn có đĩa DVD.</label>
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Máy tính có sẵn cho học sinh.</label>
                    </div>
                    <div class="form-group custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Sinh viên của chúng tôi sử dụng nền tảng kỹ thuật số (Hệ thống quản lý học tập)</label>
                    </div>

              
                      <br>
                    <h6 class="text-muted text-uppercase">Số học sinh mẫu giáo</h6>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Google lớp học</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Vệ sinh răng miệng</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Tranh sơn dầu</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Edmodo</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Khác (vui lòng ghi rõ)</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Microsoft</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Moodle</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline1">Học sinh</label>
                                </div>
                                <div class="form-group custom-control custom-radio">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                        class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Showbie</label>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                    <div class="form-group custom-control-colgate">
                        <label class="small-label" for="exampleInputEmail1">Nền tảng kỹ thuật số</label>
                        <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                
                </div>

                <div class="section-form">
                    <h3 class="text-primary">Một vài điều quan trọng</h3>
                    <div class="form-group">
                        <div class="form-group custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Bằng văn bản này, tôi xác nhận rằng thông tin trên là đúng sự thật và tôi là nhà giáo dục trẻ em từ lớp K-1. Tôi hiểu rằng tất cả các tài liệu đều dành cho mục đích giáo dục, không phải để bán lại. Nếu tôi bán lại chúng, tôi sẽ không đủ điều kiện để nhận tài liệu trong tương lai.</label>
                        </div>
                        <div class="form-group custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Tôi muốn nhận thông báo về việc vận chuyển tài liệu của tôi và các cập nhật khác liên quan đến chương trình Colgate Bright Smiles, Bright Futures®. Tôi hiểu rằng thông tin cá nhân của tôi sẽ chỉ được sử dụng cho các liên lạc liên quan đến chương trình này.</label>
                        </div>
                        <div class="form-group custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Tôi muốn nhận thông tin cập nhật về các ưu đãi đặc biệt, tin tức sản phẩm và các thông tin liên lạc khác từ Công ty Colgate-Palmolive. Tôi hiểu rằng trong tương lai, nếu tôi muốn ngừng nhận những thông báo này, tôi sẽ có cơ hội từ chối.</label>
                        </div>
                    </div>
                </div>

                <div class="section-form outside">
                    <h4>Sẵn sàng để gửi?</h4>
                    <p>Bộ dụng cụ in có giới hạn và dành cho các nhà giáo dục K-1 trên cơ sở ai đến trước được phục vụ trước. <br>Bạn sẽ nhận được một email xác nhận.
                        <br>Nếu bạn có thắc mắc, vui lòng liên hệ với chúng tôi tại. <a href="ColgateBSBF@colpal.com">ColgateBSBF@colpal.com</a></p>
                        <div class="d-flex align-items-center">
                            <button type="submit"style="    box-shadow: 0px 3px 10px rgb(34 34 34 / 21%);" class="btn btn-light mr-3">Gửi yêu cầu của tôi</button>
                           <div>Có câu hỏi nào không? <a href="">Liên hệ chúng tôi</a></div> 
                        </div>
                </div> -->

                <div class="section-form">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSefpXRdS7tAichfxt0uxbbwehpOwpoOLJxJk519ugr3xEWY_g/viewform?embedded=true" width="100%" height="1468" frameborder="0" marginheight="0" marginwidth="0">Đang tải…</iframe>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div id="bg" class="request-bg">

        </div>
    </div>
</div>

<div id="bg1" class="image-snap">
    <div class="image-frame"></div>
</div>