<div class="resource-content gray-section">
    <div class="mask">
        <div class="resource-icon">
            <img src="assets/img/watch.png" alt="">
            <!-- <img src="assets/img/reading.png" alt=""> -->
             <!-- <img src="assets/img/listen.png" alt=""> -->
              <!-- <img src="assets/img/write.png" alt=""> -->
        </div>
        <div class="container">
            <div class="content ">
                <h6 class="text-uppercase">Phương pháp giáo dục</h6>
                <h2>Những gì trẻ học được (Sau khi vui vẻ với ứng dụng My Bright Smile)</h2>
                <p>Dành cho trẻ 5-6 tuổi</p>
                <p>Lắng nghe từ chính những đứa trẻ những gì học được về cách chăm sóc răng miệng
                    của chúng khi chơi trò chơi ứng dụng BSBF My Bright Smile.</p>
                <div class="social-action-bar d-flex mt-5 pb-3">
                    <button class="btn btn-light px-3 mr-3">Đọc</button>
                    <button class="btn btn-outline-light mr-3">Tải xuống</button>
                    <div class="social-info d-flex align-items-center">
                        <div class="like-info mr-2">
                            <img src="assets/img/like.png" alt="">
                        </div>
                        <h6><small>257 người <br>thích điều này</small></h6>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="resource-activity-content mb-5">
        <!-- Các nội dung content thay thế trong đây - Nội dung Video -->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <iframe width="100%" height="500px"
                        src="https://www.youtube.com/embed/7D1ej0AgngY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="col-sm-3">
                    <iframe class="mb-3" width="100%" height="auto"
                        src="https://www.youtube.com/embed/7D1ej0AgngY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe class="mb-3" width="100%" height="auto"
                        src="https://www.youtube.com/embed/7D1ej0AgngY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <iframe class="mb-3" width="100%" height="auto"
                        src="https://www.youtube.com/embed/7D1ej0AgngY" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <!-- Nội dung PDF -->
        <div class="container">
            <div class="d-flex justify-content-center">
                <iframe src="http://www.africau.edu/images/default/sample.pdf" width="800px"
                height="600px">
            </iframe>
            </div>
        </div>
        <!-- Nội dung Slide -->
        <div class="container">
            <div class="slide-commic-list slider">
                <div class="comic-item">
                    <img width="100%" src="assets/img/truyen-1.jpg" alt="">
                </div>
                <div class="comic-item">
                    <img width="100%" src="assets/img/truyen-2.jpg" alt="">
                </div>
                <div class="comic-item">
                    <img width="100%" src="assets/img/truyen-2.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Các nội dung content thay thế trong đây -->
    </div>
    <div class="container">
        <div class="feed-back p-5">
            <h4>Bài viết này hữu ích không</h4>
            <div class="d-flex">
                <button type="button" class="btn-like mr-3"><img src="assets/img/like.png"
                        alt=""></button>
                <button type="button" class="btn-like"><img src="assets/img/dislike.png"
                        alt=""></button>
            </div>
        </div>

    </div>

</div>
