<section class="resource-detail fix-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-material-standard></app-material-standard>
                <div class="resource-card-list px-3 container mt-4">
                    <h4 class="mb-3">Nhiều tài nguyên hơn</h4>
                    <div class="row">
                        <div class=" col-lg-3 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-1.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng
                                        miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-2.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng
                                        miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-3.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng
                                        miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-3 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-1.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng
                                        miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right"
                                                aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>