<section class="fix-container">
  <div class="container-fluid">
      <div class="main-header commit">
          <div class="overlay"></div>
          <div class="header-content ">
              <h1>Nguồn Cảm Hứng Sự Lạc Quan</h1>
              <a class="btn btn-sm btn-light" href="javascript:;"  (click)="openModal(template)">Xem thêm video</a>
          </div>
      </div>
  </div>
  <div class="section-outside ">
      <div class="container">
          <h2 class="text-primary">Vì Một Tương Lai KHÔNG SÂU RĂNG</h2>
          <p>Colgate tin rằng mọi trẻ em và gia đình đều xứng đáng được có nụ cười rạng rỡ khỏe mạnh suốt đời. Đó là lý do tại sao chúng tôi luôn hướng tới một tương lai không sâu răng cho 2 tỷ trẻ em và nỗ lực không ngừng để chấm dứt căn bệnh mãn tính phổ biến nhất trên thế giới, sâu răng. Nếu không được điều trị, sâu răng có thể gây đau nhức và khó chịu, làm mất đi sự tự tin, suy giảm chất lượng cuộc sống, ảnh hưởng đến việc tới trường của trẻ và còn hơn thế nữa. Sứ mệnh của Colgate là kết nối trẻ em cùng gia đình với giáo dục sức khỏe răng miệng, thăm khám răng và tư vấn điều trị miễn phí. Cùng nhau, chúng ta có thể tạo ra một thế giới đầy ắp những nụ cười rạng rỡ và cả những tương lai tươi sáng.</p>
      </div>
  </div>

  <div class="mb-3 ">
      <div class="container-fluid section-count">
          <div class="count-bg">
          <img width="100%" style=" object-fit: cover;" src="assets/img/commit-2.jpg">
          <h2>Đã, đang và sẽ đến với hàng tỷ trẻ em trên thế giới</h2>
          <h1 countAnimation #ca="countAnimation"></h1>
        </div>
      </div>
  </div>

  <div class="section-outside pt-0">
      <div class="container-fluid">
          <nav class="nav-colgate nav-year nav nav-pills nav-justified">
              <a [class.active]="item === currentData" *ngFor="let item of dataChilren; last as last" (click)="getDataChild(item.year)" class="nav-link text-bold" href="javascript:;">{{item?.year}} {{last? 'mục tiêu':''}}</a>
          </nav>

      </div>
      <div class="container my-5 ">
          <div class="section-content">
              <h3 class="text-primary">Colgate Với Sự Lan Tỏa Toản Cầu</h3>
              <p>Chương trình Nha học đường Colgate "Nụ cười Rạng rỡ, Tương lai Tươi sáng" là một trong những đoạt động giáo dục sức khoẻ răng miệng cho trẻ em thành công nhất trên thế giới. Kể từ năm 1991, chương trình đã có những tác động tích cực đến cuộc sống của hơn một tỷ trẻ em thông qua các hoạt động giáo dục sức khỏe răng miệng và khám răng miễn phí tại hơn 80 quốc gia. </p>
                  <br>
              <h3 class="text-primary">Giải Thưởng Chương Trình Giáo Dục SKRM </h3>
              <p>Colgate tin rằng sức khỏe răng miệng chính là nền tảng, không chỉ giúp bạn có những nụ cười rạng rỡ mà còn giúp đảm bảo sức khỏe lâu dài của bạn, chạm tay vào hạnh phúc và mở ra những cơ hội. Được xây dựng và phát triển bởi các chuyên gia y tế, giáo dục và văn hóa của nhiều quốc gia trên thế giới, các tài liệu giáo dục và trò chơi sức khoẻ răng miệng của Colgate giúp trẻ em xây dựng những thói quen lành mạnh như đánh răng hai lần một ngày với kem đánh răng chứa Fluoride để giúp trẻ giữ nụ cười luôn khoẻ mạnh suốt đời.
                <br>
                Thông qua chương trình giảng dạy đã được trải nghiệm thực tiễn (có sẵn trực tuyến với 30 ngôn ngữ), và thông qua hoạt động tuyên truyền, chúng tôi đã, đang, và sẽ cố gắng từng ngày để đảm bảo rằng phòng ngừa sâu răng luôn là vấn đề sức khoẻ răng miệng toàn cầu được ưu tiên hàng đầu.</p>
                  <br>
              <h3 class="text-primary">Hoạt Động Cộng Đồng</h3>
              <p>Tại Việt Nam, Tại VN, chương trình giáo dục nha học đường Colgate “Nụ Cười Rạng, Tương Lai Tươi Sáng” được bắt đầu vào năm 1996, với sự hợp tác và hỗ trợ của Hội Răng Hàm Mặt Việt Nam và Bệnh Viện RHM Trung Ương. Đến năm 2006, chương trình được chính thức hợp tác cùng Bộ Giáo Dục và Đào Tạo Việt Nam để triển khai giáo dục sức khỏe răng miệng rộng khắp các trường tiểu học và mầm non trên cả nước.

                Qua 25 năm hoạt động, với sự hợp tác chặt chẽ cùng Bộ Giáo Dục & Đào Tạo và các đơn vị/chuyên gia y tế về răng hàm mặt, BVRHM TƯ, chương trình đã đến với hơn 50 triệu trẻ em Việt Nam; cung cấp hơn 20 triệu bộ kem & bàn chải cho 100% học sinh lớp 1 trên toàn quốc; khám răng miễn phí cho hàng triệu trẻ em; tài trợ các chương trình đào tạo liên tục cho giáo viên/cán bộ NHĐ; cũng như cấp phát các bộ tài liệu, giáo cụ trực quang đến hơn 50.000 trường tiểu học và mầm non cả nước.</p>
          </div>
          <a class="btn btn-light" target="_self" [routerLink]="['/']" fragment="program">Xem Tất Cả Chương Trình Cộng Đồng</a>
      </div>
  </div>
  <div class="section-outside pt-0">
      <div class="container-fluid">
          <div class="row no-gutters video-section">
              <div class="col-md">
                 <div class="video-thumb" (click)="openModal(template)">
                    <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
                  </div>
              </div>
              <div class="col-md text-white d-flex justify-content-center align-items-center" style="background-color: #8F1F1D;height: 500px;">
                  <div class="video-des">
                      <h3>Chung Tay Giữ Nụ Cười Rạng Rỡ</h3>
                      <p>Khám phá hành trình của xe nha lưu động Colgate "Nụ Cười Rạng Rỡ, Tương Lai Tươi đến với cộng đồng, trẻ em, nha sĩ và các tình nguyện viên.</p>
                      <button class="btn btn-light" (click)="openModal(template)">Xem video</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="section-outside pt-0">
      <div class="container-fluid">
      <div class="smile ">
          <div class="overlay"></div>
          <div class="content">
              <h3 class="mb-4">Ai Trong Chúng Ta Đều Xứng Đáng <br> Có Một Tương Lai Đầy Ắp<br> Những Nụ Cười</h3>
              <a class="btn btn-light" href="#">Câu Chuyện Của Chúng Tôi</a>
          </div>
      </div>
    </div>
  </div>

</section>

<ng-template #template>
    <div class="modal-body">
        <iframe class="youtube-modal"src="https://www.youtube.com/embed/6F2iLFwsZ4g" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </ng-template>
