<div class="modal-body p-4 form-side no-side">
    <button type="button" class="close"  (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
  <form>
  <h4 class="text-primary mt-4">Gửi bài dự thi</h4>
  <h6 class="text-uppercase">Thông tin bài dự thi</h6>
  <div class=" row align-items-center">
      <label for="title" class="col-sm-4 col-form-label"><small>Tiêu
              đề:</small></label>
      <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" id="title">
      </div>
  </div>
  <div class=" row align-items-start">
      <label for="contentTest" class="col-sm-4 col-form-label"><small>Nội
              dung:</small></label>
      <div class="col-sm-8">
          <textarea id="contentTest" class="form-control form-control-sm"
          name="contentTest" rows="2"></textarea>
      </div>
  </div>

  <div class=" row align-items-center">
      <label for="fileContent2"
          class="col-sm-4 col-form-label text-primary"><small>Tải bài dự
              thi:</small></label>
      <div class="col-sm-8">
          <input type="file" class="form-control form-control-sm"
              id="fileContent2">
      </div>
  </div>

  <div class=" row align-items-center">
      <label for="emailParent"
          class="col-sm-4 col-form-label"><small>Email:</small></label>
      <div class="col-sm-8">
          <input type="email" placeholder="example@gmail.com"
              class="form-control form-control-sm" id="emailParent">
      </div>
  </div>

  <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="comfirmParent">
      <label class="form-check-label" for="comfirmParent"><small>Tôi xác nhận là
              phụ huynh/ người giám hộ của học sinh với thông tin đầy dủ phía
              trên.</small></label>
  </div>

  <div class="form-group mt-3">
      <button type="submit" class="btn btn-primary btn-block">XÁC NHẬN</button>
  </div>
</form>
</div>
