<section class="fix-container">
    <div class="container-fluid">
        <div class="gray-section bg-gray">
            <app-landing-slide></app-landing-slide>


            <app-resource-who-section></app-resource-who-section>
            <div class="">
            </div>
            <app-resource-age-section></app-resource-age-section>

            <app-resource-activity-section></app-resource-activity-section>
        </div>

    </div>
    <app-resource-program-section ></app-resource-program-section>

    <div class="section-outside">
        <div class="container">
            <h2>Cam kết của Colgate</h2>
            <div class="program-single-item">
                <div class="thumbnail">
                    <img src="assets/img/p-s.jpg">
                </div>
                <div class="overlay"></div>
                <div class="content">
                    <small class="text-uppercase m-0 mb-3"><b>Giáo dục<br>Sức khỏe răng miệng</b></small>
                    <h3 class="mb-4">Cam Kết Của Colgate </h3>
                    <a class="btn btn-light btn-round" [routerLink]="'/commitment'">Tìm hiểu thêm</a>
                </div>
            </div>

        </div>
    </div>


</section>
