<section class="fix-container">
    <div class="container-fluid">
        <div class="gray-section bg-gray">
            <app-landing-slide></app-landing-slide>


            <app-resource-who-section></app-resource-who-section>

            <app-resource-age-section></app-resource-age-section>

            <app-resource-activity-section></app-resource-activity-section>
        </div>

    </div>
    <app-resource-program-section></app-resource-program-section>

    <div class="section-outside">
        <div class="container">
            <h2>Cam kết của chúng tôi</h2>
            <div class="program-single-item">
                <div class="thumbnail">
                    <img width="100%" src="assets/img/p-s.jpg">
                </div>
                <div class="overlay"></div>
                <div class="content">
                    <p class="text-uppercase m-0">Giáo dục<br>Sức khỏe răng miệng</p>
                    <h5 class="mb-2">Cam kết của Colgate về <br>Giáo dục Sức khỏe Răng miệng</h5>
                    <a class="btn btn-light btn-round" [routerLink]="'/commitment'">Tìm hiểu thêm</a>
                </div>
            </div>

        </div>
    </div>


</section>
