<div class="modal-body p-0 promotion-modal">
  <button  type="button" (click)="bsModalRef.hide()" class="close close-promo">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row no-gutters">
    <div class="col-md-6">
    <div class="content-promotion text-center text-white">
      <img width="100" src="assets/img/logo.png" alt="">
      <p>🌿 ☀️  KẾT QUẢ VÒNG SƠ LOẠI 🌿 ☀️ <br>
        CUỘC THI "VẼ TƯƠNG LAI TƯƠI SÁNG VỚI NỤ CƯỜI RẠNG RỠ" 2021   </p>
      <ul style="text-align: left;font-size: 14px;">
        <li class="mb-2">Sau một thời gian chọn lọc và xem xét kỹ càng, BTC vui mừng công bố 120 tác phẩm đã xuất sắc vượt qua vòng sơ loại của cuộc thi.</li>
        <li class="mb-2">Thời gian mở bình chọn chính thức của vòng 2 sẽ bắt đầu sau 2 ngày nữa. Nhanh tay đặt lịch và đừng quên bạn có hẹn với Colgate trong vòng bình chọn online vào ngày 01/06 nhé! </li>
        <li class="mb-2">Còn bây giờ... Hãy cùng chiêm ngưỡng triển lãm tranh "Nụ cười rạng rỡ, tương lai tươi sáng" từ các họa sỹ nhí tài năng của chúng ta! </li>
      </ul>
      </div>

    </div>
    <div class="col-md-6">
      <div class="image-promotion">
        <button class="btn btn-lg btn-primary btn-join font-weight-bold" (click)="openRegisterModal()">Xem kết quả</button>
      </div>
    </div>
  </div>
</div>


