<div class="modal-body p-0 promotion-modal">
  <button  type="button" (click)="bsModalRef.hide()" class="close close-promo">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row no-gutters">
    <div class="col-md-6">
    <div class="content-promotion text-center text-white">
      <img width="250" src="assets/img/logo.png" alt="">
      <h2>"Vẽ tương lai<br>với nụ cười rạng rỡ"</h2>
      <p class="m-0" style="font-size: 22px;">Tổng giải thưởng</p>
      <h1>106.000.000VNĐ</h1>
      </div>

    </div>
    <div class="col-md-6">
      <div class="image-promotion">
        <button class="btn btn-lg btn-primary btn-join font-weight-bold" (click)="openRegisterModal()">Tham gia</button>
      </div>
    </div>
  </div>
</div>


