<div class="modal-body p-0 promotion-modal">
  <button  type="button" (click)="bsModalRef.hide()" class="close close-promo">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row no-gutters">
    <div class="col-md-6">
    <div class="content-promotion text-center text-white">
      <img width="250" src="assets/img/logo.png" alt="">
      <p>BTC Cuộc Thi “Vẽ Tương Lai Với Nụ Cười Rạng Rỡ” thông báo thay đổi thời gian công bố giải:  </p>
      <ul style="text-align: left;">
        <li>Vòng Sơ Loại         : 25-30/05/2021</li>
        <li>Vòng Voting          : 1/06 đến 5/06/2021 (BTC sẽ gởi liên hệ để thông báo các                  tác phẩm đoạt giải) </li>
        <li>Vòng Chung Kết   : Trước ngày 15/06/2021        </li>
      </ul>
      </div>

    </div>
    <div class="col-md-6">
      <div class="image-promotion">
        <button class="btn btn-lg btn-primary btn-join font-weight-bold" (click)="openRegisterModal()">Xem kết quả</button>
      </div>
    </div>
  </div>
</div>


