<div class="form-du-thi">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div >

    <!-- Step 1 -->
    <div id="step1" class="step-1">
        <h6 class="text-uppercase">Thông tin học sinh</h6>
        <div class=" row align-items-start" hasError="student_name">
            <label for="student_name" class="col-sm-4 col-form-label required"><small>Họ và tên:</small></label>
            <div class="col-sm-8">
                <input type="text" formControlName="student_name" class="form-control form-control-sm"
                    id="student_name" maxlength="250">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền đầy đủ họ tên
                    </div>
                    <div class="invalid-feedback" *ifError="'whitespace'" translate>
                      Vui lòng điền đầy đủ họ tên
                    </div>
                </div>
            </div>
        </div>
        <div class=" row align-items-start" hasError="student_date_of_birth">
            <label for="student_date_of_birth" class="col-sm-4 col-form-label required"><small>Ngày
                    sinh:</small></label>
            <div class="col-sm-8">
                <input readonly type="text" formControlName="student_date_of_birth"
                    class="form-control form-control-sm bg-white" id="student_date_of_birth" placeholder="dd/mm/yyyy" bsDatepicker #dp="bsDatepicker"  [bsConfig]="bsConfig">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn ngày sinh
                    </div>
                </div>
            </div>
        </div>
        <div class=" row align-items-start" hasError="student_address">
            <label for="student_address" class="col-sm-4 col-form-label required"><small>Địa chỉ:</small></label>
            <div class="col-sm-8">
                <input type="text" formControlName="student_address"
                    placeholder="Số nhà, ngõ, quận huyện" class="form-control form-control-sm"
                    id="student_address">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền địa chỉ cụ thể
                    </div>
                    <div class="invalid-feedback" *ifError="'whitespace'" translate>
                      Vui lòng điền địa chỉ cụ thể
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="student_province_id">
            <label for="student_province_id"
                class="col-sm-4 col-form-label required"><small>Tỉnh:</small></label>
            <div class="col-sm-8">
                <ng-select [items]="provinces" formControlName="student_province_id" bindLabel="text"
                    bindValue="value" (change)="onProvinceChanged($event)"> </ng-select>
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn tỉnh thành
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="student_district_id">
            <label for="student_district_id"
                class="col-sm-4 col-form-label required"><small>Quận/Huyện:</small></label>
            <div class="col-sm-8">
                <ng-select [items]="district" formControlName="student_district_id" bindLabel="text"
                    bindValue="value"  (change)="onDistrictChanged($event)"> </ng-select>
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn quận/huyện
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="student_ward_id">
            <label for="student_ward_id"
                class="col-sm-4 col-form-label required"><small>Phường/Xã:</small></label>
            <div class="col-sm-8">
                <ng-select [items]="ward" formControlName="student_ward_id" bindLabel="text"
                    bindValue="value"> </ng-select>
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn Phường/Xã
                    </div>
                </div>
            </div>
        </div>

        <h6 class="text-uppercase mt-3">Thông tin bố mẹ/ người giám hộ</h6>
        <div class=" row align-items-start" hasError="student_district_id">
            <label for="parent_name" class="col-sm-4 col-form-label required"><small>Họ và tên:</small></label>
            <div class="col-sm-8">
                <input type="text" formControlName="parent_name" class="form-control form-control-sm"
                    id="parent_name">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền tên bố mẹ/người giám hộ
                    </div>
                    <div class="invalid-feedback" *ifError="'whitespace'" translate>
                      Vui lòng điền tên bố mẹ/người giám hộ
                    </div>
                </div>
            </div>
        </div>
        <div class=" row align-items-start" hasError="parent_phone">
            <label for="parent_phone" class="col-sm-4 col-form-label required"><small>Số điện
                    thoại:</small></label>
            <div class="col-sm-8">
                <input type="tel" formControlName="parent_phone" class="form-control form-control-sm"
                    id="parent_phone" placeholder="Ví dụ: 0912345679" pattern="((0|84)[3|5|7|8|9][0-9]{8})">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền số điện thoại bố mẹ/người giám hộ
                    </div>
                    <div class="invalid-feedback" *ifError="'pattern'" translate>
                        Số điện thoại sai định dạng (Ví dụ: 0912345678)
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="parent_email">
            <label for="parent_email" class="col-sm-4 col-form-label"><small>Email (nếu
                    có):</small></label>
            <div class="col-sm-8">
                <input type="email" formControlName="parent_email" placeholder="example@gmail.com"
                    class="form-control form-control-sm" id="parent_email">
                    <div errorMessage>
                        <div class="invalid-feedback" *ifError="'email'" translate>
                            Sai định dạng email
                        </div>
                    </div>
            </div>
        </div>

        <h6 class="text-uppercase mt-3">Thông tin trường học</h6>
        <div class=" row align-items-start" hasError="school_name">
            <label for="school_name" class="col-sm-4 col-form-label required"><small>Tên trường
                    học:</small></label>
            <div class="col-sm-8">
                <input type="text"  class="form-control form-control-sm"  formControlName="school_name" (input)="onInputChange($event)" id="school_name" list="dynmicUserIds">
                    <datalist id="dynmicUserIds">
                        <option *ngFor="let item of schoolList1" [value]="item">{{item}}</option>
                     </datalist>

                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền tên trường học
                    </div>
                </div>
            </div>
        </div>
        <div class=" row align-items-start" hasError="school_class">
            <label for="school_class" class="col-sm-4 col-form-label required"><small>Lớp:</small></label>
            <div class="col-sm-8">
                <input type="text" formControlName="school_class" class="form-control form-control-sm"
                    id="school_class">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền tên lớp học
                    </div>
                </div>
            </div>
        </div>
        <div class=" row align-items-start" hasError="school_type">
          <label for="school_type" class="col-sm-4 col-form-label required"><small>Cấp bậc:</small></label>
          <div class="col-sm-8">
              <input type="text"  class="form-control form-control-sm"  formControlName="school_type"  id="school_type" list="dynmicschoolType">
                  <datalist id="dynmicschoolType">
                      <option *ngFor="let item of schoolTypeList" [value]="item">{{item}}</option>
                   </datalist>

              <div errorMessage>
                  <div class="invalid-feedback" *ifError="'required'" translate>
                      Vui lòng chọn cấp bậc
                  </div>
              </div>
          </div>
      </div>
        <div class=" row align-items-start" hasError="school_address">
            <label for="school_address" class="col-sm-4 col-form-label required"><small>Địa chỉ:</small></label>
            <div class="col-sm-8">
                <input type="text" formControlName="school_address" class="form-control form-control-sm"
                    id="school_address">
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng điền địa chỉ cụ thể của trường học
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="school_province_id">
            <label for="school_province_id" class="col-sm-4 col-form-label required"><small>Tỉnh:</small></label>
            <div class="col-sm-8">
                <ng-select [items]="schoolProvinces" formControlName="school_province_id"
                    bindLabel="text" bindValue="value" (change)="onSchoolProvinceChanged($event)">
                </ng-select>
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn tỉnh thành
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="school_district_id">
            <label for="school_district_id"
                class="col-sm-4 col-form-label required"><small>Quận/Huyện:</small></label>
            <div class="col-sm-8">
                <ng-select [items]="schoolDistrict" formControlName="school_district_id"
                    bindLabel="text" bindValue="value"> </ng-select>
                <div errorMessage>
                    <div class="invalid-feedback" *ifError="'required'" translate>
                        Vui lòng chọn quận/huyện
                    </div>
                </div>
            </div>
        </div>

        <div class=" row align-items-start" hasError="school_email">
            <label for="school_email" class="col-sm-4 col-form-label"><small>Email (Nếu
                    có):</small></label>
            <div class="col-sm-8">
                <input type="email" formControlName="school_email" placeholder="example@gmail.com"
                    class="form-control form-control-sm" id="school_email">
                    <div errorMessage>
                      <div class="invalid-feedback" *ifError="'email'" translate>
                          Sai định dạng email
                      </div>
                  </div>
            </div>
        </div>


        <div class="form-group mt-3">
            <button [class.is-loading]="loading" type="submit" class="btn btn-primary btn-block">TIẾP TỤC</button>
        </div>
    </div>


  </div>
  </form>
</div>
