.resource-list {
  .resource-content {
    .banner {
      border-radius: 30px 0 30px 0;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 350px;
      background-position: center;
      background-size: cover;
      // background-image: url("./../img/bg-resource-all.jpg");
      // background-image: linear-gradient(to right, #760d12, #9d1219, #ed1b24);
      .content {
        color: white;
        position: absolute;
        left: 3rem;
        bottom: 2rem;
        z-index: 2;
      }
      .overlay {
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        z-index: 1;
         background: linear-gradient(to right, rgba(0,0,0, .7), transparent);
      }
    }
  }


}

.resource-card-item{
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0 ,0 ,0 , .18);
  margin-bottom: 2rem;
  animation: fadein ease-out 350ms;
  transition: transform 150ms ease-out;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 0px 5px 9px 0 #d5d8de;
    opacity: 0;
    transition: opacity 150ms ease-out;
    z-index: 0;
    pointer-events: none;
  }

  &:hover {
    transform: translateY(-2px);
    &:after {
      opacity: 1;
    }
  }
  .resource-thumbnail{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
      width:100%;
    }
  }
  .resource-card-des{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 150px;
    border-radius: 20px 0 0 0;
    padding: 1rem 2rem;
    .title{
      font-size: 16px;
      a{
        color: inherit;
        &:hover{
          color: $primary;
        }
      }
    }
    .bottom-card{
      padding: 0rem 2rem;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      .action{
        display: block;
        width: 32px;
        height: 32px;
        line-height: 32px;
        background-color: $primary;
        text-align: center;
        color: white;
        border-radius: 50%;
        font-size: 22px;
        i{
          line-height: 32px;
        }
      }
    }

  }
}

.category-accordion{
  .accordion{
    .panel{
      border-radius: 0;
    border-bottom: 0;
      &:first-child{
        .card{
          overflow: hidden;
      border-radius: 30px 30px 0 0;}
      }
      &:last-child {
        .card{
          overflow: hidden;
        border-radius: 0 0 30px 30px;}
      }
      .card-header{
        cursor: pointer;
        i{
          font-size: 22px;
          transition: 250ms ease-in-out;
          line-height: 40px;
        }
        a{
          text-decoration: none !important;
        }
      }

      .card-header{
        background: white;
        color: $primary;
        .btn-link{
          font-weight: 600;
          font-style: italic;
        }

      }
      &.panel-open{
        .card-header{
          background: $secondary;
          button{
            color: white;
          }
          i{
            color: white;
            transform: rotate(180deg);
          }
        }
      }


      .card-body{
        background-color: $gray-100;
        .cat-list{
          list-style: none;
          padding: 0;
          .cat-item{
            // padding: .5rem 0;
            padding-left: 2rem;
            padding: .3rem .5rem .3rem 2rem;
            margin-bottom: 4px;
            border-radius: 5px;
            transition: 150ms ease;
            &:hover{
              background-color: $gray-400;
            }
            a{
              text-decoration: none !important;
              color: $gray-900;
              width: 100%;
              display: inline-block;
            }

            &.active {
              background-color: #99D7DB;
              
              a{
                color: $secondary;
              }
            }
          }
        }
      }
    }

  }
}


.resource-detail{
  .mask{
    overflow: hidden;
    position: relative;
    width: 100%;
    min-height: 650px;
    background-position: 50%;
    background-size: cover;
    background: #a9261f;
    // border-radius: 0 0 173% 42%;
      // background-image: url("./../img/amask.png");
      @media only screen and (max-width: 800px) {
        border-radius: 0;
        min-height: 478px;
      }

   .curve{
      background-image: url("./../img/curve.webp");
      position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    width: 100%;
    background-position: bottom;
   }   
   .resource-icon{
    position: absolute;
    right: 5rem;
    top: 5rem;
    width: 407px;
    @media only screen and (max-width: 800px) {
      right: -50%;
      opacity: .3;
      top: -3rem;
    }
    img{
      width: 100%;
    }
   }
      .content {
        color: white;
        width: 60%;
        position: relative;
        z-index: 1;
        @media only screen and (max-width: 800px) {
          width: 100%;
          margin-top: 3rem;
          h1{
            font-size: 1.6rem;
          }
        }
        margin-top: 10rem;
      }
  }

  .resource-activity-content{
    position: relative;
    margin-top: -12rem;
    @media only screen and (max-width: 800px) {
      margin-top: -10rem;
    }

    .single-img{
      max-width: 76%;
      @media only screen and (max-width: 800px) {
        max-width: 100%;

      }
    }

    .music-content{
      position: relative;
        border-radius: 32px 0;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 0 4px 15px -5px rgba(0, 0, 0, 0.2);
        margin: 0 15px;
        font-size: 18px;
        @media only screen and (max-width: 800px) {
          margin: 0;
        }
      .music-content-header{
        display: flex;
        justify-content: space-between;
        background-color: $secondary;
        align-items: center;
        height: 64px;
        color: white;
        padding: 0 3rem;
        @media only screen and (max-width: 800px) {
          padding: 0 1.5rem;
        }
      }

      .music-content-main{
        padding:  .5rem  2rem;
        @media only screen and (max-width: 800px) {
          padding: .5rem .5rem;
        }
      }
    }
  }

  .feed-back{
    position: relative;
    color: white;
    width: 100%;
    min-height: 200px;
    background: #8f1f1d;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("./../img/feedback.png");
    padding: 4rem 0;
  }

  .btn-like{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-100;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    outline: none !important;
    border: none;
    opacity: .9;
    &:hover{
      opacity: 1;
    }

  }

  .social-info{
    .like-info{
      width: 50px;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $gray-100;
      img{
        width: 50%;
      }
    }
  }
  .slide-commic-list{
    .comic-item{
      width: 500px;
      height: auto;
      margin-right: 3rem;
    }
    .slick-prev, .slick-next {
      bottom: -8% !important;

    }
    .slick-prev{
      left: 0px !important;z-index: 99;
    }
    .slick-next {
      // left: 180px !important;z-index: 99;

    }
    .slick-arrow{
      top:unset !important;
      z-index: 99;
    }

    .slick-dots{
      z-index: 98;
      // width: 191px;
      bottom: -35px !important;
      justify-content: center;
      display: inline-flex !important;
    }
  }
}

.resource-gallery-item{
  margin-bottom: 1rem;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.26);
  .resource-thumbnail{
    width: 100%;
    height: 178px;
    img{width: 100%;
      transform: scale(1.2);
  }
  }
  .resource-card-des{
    font-size: 14px;
    background-color: white;
    padding: 1rem;
    border-radius: 20px 0 20px 0;
    position: relative;
    height: 50px;
    margin-top: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}
