<div class="modal-body p-0 form-side no-side">
  <button type="button" (click)="bsModalRef.hide()" class="close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="row">
    <div class="col-sm-12 text-center mt-3">
      <img src="assets/img/logo-label.png" alt="">
    </div>
    <div class="col-sm-12 ">

      <div class="form-modal py-4 px-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3 class="text-primary text-center mb-4">{{title}}</h3>

          <div class="form-group" hasError="username">
            <input type="text" formControlName="username" placeholder="Email/Số điện thoại đăng nhập"
              class="form-control" id="username">
              <div errorMessage>
                <div class="invalid-feedback" *ifError="'required'" translate>
                  Vui lòng điền email/số điện thoại
                </div>
              </div>
          </div>
          <div class="form-group" hasError="password">
            <input type="password" formControlName="password" placeholder="Mật khẩu tối thiểu 6 ký tự, viết thường"
              class="form-control" id="exampleInputPassword1">
              <div errorMessage>
                <div class="invalid-feedback" *ifError="'required'" translate>
                  Mật khẩu không thể bỏ trống
                </div>
                <div class="invalid-feedback" *ifError="'minlength'" translate>
                  Mật khẩu ít nhất 6 ký tự
                </div>
              </div>
          </div>
        <div *ngIf="error" class="alert alert-danger my-3 mb-0">{{error}}</div>

          <div class="form-group">
            <button [class.is-loading]="loading" type="submit"
              class="btn btn-primary btn-block">Xác nhận</button>
            <!-- <button type="button" class="btn btn-clear btn-block">Quên mật khẩu</button> -->
            <div class="text-muted text-center my-3"><small>Chưa có tài khoản? <a (click)="openRegisterModal()" href="javascript:;">Đăng ký</a></small>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

