<div class="modal-body p-0">
  <div class="row">
    <div class="col-sm-7">
      <img width="100%" src="assets/img/modal.jpg" alt="">
    </div>
    <div class="col-sm-5 form-side">
      <button type="button" (click)="bsModalRef.hide()" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="form-modal p-5">
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3 class="text-primary">{{title}}</h3>
          <div class="form-group">
            <input type="text" formControlName="username" placeholder="Email/Số điện thoại đăng nhập"
              class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" placeholder="6 ký tự chữ cái, viết thường"
              class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group">
            <button [disabled]="loading || !loginForm.value.isCheckTerm" type="submit"
              class="btn btn-primary btn-block">Xác nhận</button>
            <button type="button" class="btn btn-clear btn-block">Quên mật khẩu</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
