<div class="resource-content gray-section pb-4">
    <div class="mask">
        <div class="resource-icon">
            <img src="assets/img/watch.png" alt="">
             <!-- <img src="assets/img/listen.png" alt=""> -->
              <!-- <img src="assets/img/write.png" alt=""> -->
        </div>
        <div class="container">
            <div class="content">
                <h6 class="text-uppercase">Tài nguyên giáo dục</h6>
                <h1>{{styleText(material?.title?.rendered)}}</h1>
                <p *ngIf="getCategoryByAge(material)?.name">Dành cho trẻ {{getCategoryByAge(material)?.name}}</p>
                <div class="social-action-bar d-flex mt-3 pb-3">
                    <!-- <button type="button" (click)="download(material?.data?.file_content)" class="btn btn-outline-light mr-3">Tải xuống</button> -->
                    <div class="social-info d-flex align-items-center">
                        <div class="like-info mr-2">
                            <img src="assets/img/like.png" alt="">
                        </div>
                        <h6><small>{{material?.likeCount || 0}} người <br>thích điều này</small></h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="curve"></div>

    </div>
    <div class="resource-activity-content mb-3  pb-5">
        <div class="container">
            <div class="row mt-5">
                <div class="col-sm-9"> <iframe *ngIf="youtubeLink" class="youtube-modal-main" [attr.src]="youtubeLink"> </iframe>
                    <div   *ngIf="material?.content?.rendered" class="mb-5 py-3 position-relative">

                        <div [innerHTML]="htmlVideo | safeHtml"></div>
                    </div></div>
                <div class="col-sm-3">
                    <h6>VIDEO LIÊN QUAN</h6>
                    <div class="related-video mb-3" *ngFor="let item of moreMaterial?.slice(0, 3)">
                        <a class="mb-2 d-block" [routerLink]="['/material/detail',item?.slug, getCategoryByType(item)?.slug, item?.id]">
                            <img class="    object-fit: cover;" width="100%" height="135px" [src]="item?.thumbnailUrl" alt="">
                        </a>
                        <div>{{item?.title?.rendered}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   

    <div class="container">
        <div class="feed-back px-5 d-flex justify-content-center flex-column   mb-3">
            <h4><i>Bài viết này có ích ?</i></h4>
            <div class="d-flex">
                <button type="button" (click)="likeContent()" class="btn-like flex-column text-center mr-3">
                    <img  class="mb-2" src="assets/img/like.png" alt="">
                    <small><b>Thích</b></small>
                </button>
                <button type="button" (click)="dislikeContent()" class="btn-like flex-column text-center mr-3">
                    <img class="mb-2" src="assets/img/dislike.png" alt="">
                    <small><b>Tạm được</b></small>
                </button>
            </div>
            <div class="my-3" *ngIf="rateMessage">{{rateMessage}}</div>
        </div>

    </div>

</div>
