<section class="resource-list fix-container" style="max-width: 1440px;margin:0 auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="resource-content ">
                    <div class="banner"
                        style="background-image: url('assets/img/colgate-draw.jpg'); background-position: center; height: 400px;">

                    </div>

                    <div class="toolbar m-3 d-flex">
                        <div class="form-group row mr-4">
                            <select  #myCountrySelect class="custom-select colgate" (change)='onCountrySelected(myCountrySelect.value)'>
                                <option value="" selected>{{countryCat?.name}}</option>
                                <option [value]="item?.id" *ngFor="let item of countryCat?._parent">{{item?.name}}</option>
                            </select>
                        </div>

                        <div class="form-group row ">
                            <select  #myYearSelect class="custom-select colgate" (change)='onYearSelected(myYearSelect.value)'>
                                <option value="" selected>{{yearCat?.name}}</option>
                                <option [value]="item?.id" *ngFor="let item of yearCat?._parent">{{item?.name}}</option>
                            </select>
                        </div>


                        <div class="mr-auto"></div>
                        <div class="form-group row search-form">
                            <input placeholder="Tìm theo tiêu đề" #searchKey class="form-control" type="text" name="search" id="search" [(value)]="search" (keydown.enter)="onSearch(searchKey.value)">
                            <a [hidden]="search == ''" class="clear-action" href="javascript:;" (click)="onSearch('')"><i class="fa fa-times" aria-hidden="true"></i></a>
                            <a  class="search-action" href="javascript:;" (click)="onSearch(searchKey.value)"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>

                        <!-- <div class="form-group row sort-form">
                            <label class="col-sm-4 col-form-label no-wrap">Sắp xếp theo</label>
                            <div class="col-sm-8">
                                <select class="custom-select colgate">
                                    <option selected>Thứ hạng</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                        </div> -->
                    </div>
                    <div class="resource-card-list px-3">
                        <div class="resource-activity">
                            <ng-container *ngIf="!paintings?.length && !loading" >
                                <div style="min-height: 400px;" class="text-muted d-flex align-items-center justify-content-center">Không tìm thấy dữ liệu !</div>
                            </ng-container>
                            <div class="row">
                                <div *ngFor="let item of paintings;trackBy: trackByFn" class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="resource-gallery-item">
                                        <div class="resource-thumbnail">
                                           <a [routerLink]="['/gallery',item?.slug, item?.id]" title="{{item?.title?.rendered}}"> <img height="100%" [src]="item?.thumbnailUrl"></a>
                                        </div>
                                        <div class="resource-card-des">
                                            <div class="paint-title" innerHtml="{{item?.title?.rendered}}"></div>
                                            <div *ngIf="item?.data?.age"><span>{{item?.data?.age}}</span> Tuổi</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center py-4" *ngIf="total > paintings?.length">
                        <button [class.is-loading]="loading" type="button" class="btn btn-light text-primary" (click)="loadMore()">Tải thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
