<label [for]="inputId" class="btn-upload-file text-secondary text-14 mb-0">
  <i class="fa fa-cloud-upload mr-2"></i>
  {{ label }}
</label>
<br>
<div class="file-attach d-flex align-items-center" *ngIf="fileName">
  <div>{{ fileName }}</div>
  <a class="ml-2 pointer" (click)="remove()">
    <i class="fa fa-trash"></i>
  </a>

</div>
<div class="mb-2" *ngIf="imageSrc"> <img width="340"  [src]="imageSrc" alt="" ></div>

<input [id]="inputId"  accept=".jpg,.jpeg,.png"  class="ghost" type="file" (change)="onFileChanged($event)">
