<div class="modal-body p-0">
  <div class="row">
      <div class="col-sm-6">
          <img width="100%" src="assets/img/modal.jpg" alt="">
      </div>
      <div class="col-sm-6 form-side">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <div class="form-modal p-5">
              <form>
                  <h5 class="text-primary">Mẫu đăng ký</h5>

                  <!-- Step 1 -->
                  <div id="step1" class="step-1">
                      <h6 class="text-uppercase">Thông tin học sinh</h6>
                      <div class=" row align-items-center">
                          <label for="name" class="col-sm-4 col-form-label"><small>Họ và
                                  tên:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="name">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="dateOfBirth" class="col-sm-4 col-form-label"><small>Ngày
                                  sinh:</small></label>
                          <div class="col-sm-8">
                              <input type="date" class="form-control form-control-sm"
                                  id="dateOfBirth">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="address" class="col-sm-4 col-form-label"><small>Địa
                                  chỉ:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="address">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="province"
                              class="col-sm-4 col-form-label"><small>Tỉnh:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="province">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="district"
                              class="col-sm-4 col-form-label"><small>Huyện/Quận:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="district">
                          </div>
                      </div>

                      <h6 class="text-uppercase mt-3">Thông tin bố mẹ/ người giám hộ</h6>
                      <div class=" row align-items-center">
                          <label for="nameParent" class="col-sm-4 col-form-label"><small>Họ và
                                  tên:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="nameParent">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="phoneParent" class="col-sm-4 col-form-label"><small>Số điện
                                  thoại:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm"
                                  id="phoneParent">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="emailParent"
                              class="col-sm-4 col-form-label"><small>Email:</small></label>
                          <div class="col-sm-8">
                              <input type="email" placeholder="example@gmail.com"
                                  class="form-control form-control-sm" id="emailParent">
                          </div>
                      </div>

                      <div class="form-group mt-3">
                          <button id="goToStep2" type="button" class="btn btn-primary btn-block">TIẾP
                              TỤC</button>
                      </div>
                  </div>

                  <!-- Step 2 -->
                  <div id="step2" class="step-2 d-none">
                      <a id="goBack" href="javascript:;"><small>Quay lại</small></a>
                      <h6 class="text-uppercase">Thông tin trường học</h6>
                      <div class=" row align-items-center">
                          <label for="schoolName" class="col-sm-4 col-form-label"><small>Tên trường
                                  học:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="schoolName">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="className"
                              class="col-sm-4 col-form-label"><small>Lớp:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="className">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="addressSchool" class="col-sm-4 col-form-label"><small>Địa
                                  chỉ:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm"
                                  id="addressSchool">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="provinceSchool"
                              class="col-sm-4 col-form-label"><small>Tỉnh:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm"
                                  id="provinceSchool">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="districtSchool"
                              class="col-sm-4 col-form-label"><small>Huyện/Quận:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm"
                                  id="districtSchool">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="emailSchool" class="col-sm-4 col-form-label"><small>Email (Nếu
                                  có):</small></label>
                          <div class="col-sm-8">
                              <input type="email" placeholder="example@gmail.com"
                                  class="form-control form-control-sm" id="emailSchool">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <h6 class="text-uppercase col-sm-4 m-0">UPLOAD BÀI THI</h6>
                          <div class="col-sm-8">
                              <a href="#">Tải file</a>
                              <input type="file" placeholder="example@gmail.com"
                                  class="form-control form-control-sm" id="fileContent">
                          </div>
                      </div>


                      <div class=" row align-items-center">
                          <label for="title" class="col-sm-4 col-form-label"><small>Tiêu
                                  đề:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm" id="title">
                          </div>
                      </div>
                      <div class=" row align-items-center">
                          <label for="contentTest" class="col-sm-4 col-form-label"><small>Nội
                                  dung:</small></label>
                          <div class="col-sm-8">
                              <textarea id="contentTest" class="form-control form-control-sm"
                              name="contentTest" rows="2"></textarea>
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="fileContent2"
                              class="col-sm-4 col-form-label text-primary"><small>Tải bài dự
                                  thi:</small></label>
                          <div class="col-sm-8">
                              <input type="text" class="form-control form-control-sm"
                                  id="fileContent2">
                          </div>
                      </div>

                      <div class=" row align-items-center">
                          <label for="emailParent"
                              class="col-sm-4 col-form-label"><small>Email:</small></label>
                          <div class="col-sm-8">
                              <input type="email" placeholder="example@gmail.com"
                                  class="form-control form-control-sm" id="emailParent">
                          </div>
                      </div>

                      <div class="form-group  custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="comfirmParent">
                          <label class="custom-control-label" for="comfirmParent"><small>Tôi xác nhận là
                                  phụ huynh/ người giám hộ của học sinh với thông tin đầy dủ phía
                                  trên.</small></label>
                      </div>

                      <div class="form-group mt-3">
                          <button type="submit" class="btn btn-primary btn-block">XÁC NHẬN</button>
                      </div>
                  </div>
              </form>
          </div>

      </div>
  </div>
</div>
