<div class="resource-section">
    <div class="container">
        <h4 class="mb-4">Tài nguyên theo Nhóm tuổi</h4>
        <div class="resource-group">
            <div class="row no-gutters">
                <div class="col-md">
                    <a [routerLink]="['/material/by-age/11']">
                    <div class="resource-group-item">
                            <div class="thumbnail">
                            <img width="100%" src="assets/img/so-sinh.jpg">
                        </div>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6>Trẻ sơ sinh và Trẻ tập đi</h6>
                            <a class="action" title="Xem chi tiết" [routerLink]="['/material/by-age/11']"><i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div></a>
                </div>

                <div class="col-md">
                    <a [routerLink]="['/material/by-age/12']">
                    <div class="resource-group-item">
                        <div class="thumbnail">
                            <img width="100%" src="assets/img/3-4-tuoi.jpg">
                        </div>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6>Trẻ 3-4 Tuổi</h6>
                            <a class="action" title="Xem chi tiết"  [routerLink]="['/material/by-age/12']"><i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div></a>
                </div>
                <div class="col-md">
                    <a [routerLink]="['/material/by-age/13']">
                    <div class="resource-group-item">
                        <div class="thumbnail">
                            <img width="100%" src="assets/img/5-6-tuoi.jpg">
                        </div>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6>Trẻ 5-6 Tuổi</h6>
                            <a class="action" title="Xem chi tiết" [routerLink]="['/material/by-age/13']"><i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md">
                    <a [routerLink]="['/material/by-age/14']">
                    <div class="resource-group-item">
                        <div class="thumbnail">
                            <img width="100%" src="assets/img/7-8-tuoi.jpg">
                        </div>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6>Trẻ 7-8 Tuổi</h6>
                            <a class="action" title="Xem chi tiết" [routerLink]="['/material/by-age/14']"><i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div></a>
                </div>
                <div class="col-md">
                    <a [routerLink]="['/material/by-age/15']">
                    <div class="resource-group-item">
                        <div class="thumbnail">
                            <img width="100%" src="assets/img/9-12-tuoi.jpg">
                        </div>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6>Trẻ 9-12 Tuổi</h6>
                            <a class="action" title="Xem chi tiết" [routerLink]="['/material/by-age/15']"><i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
</div>