<section class="voting-list">
    <div class="container">
        <h2 class="text-center">BÀI DỰ THI</h2>

        <div class="voting-list">
            <div class="row">
                <div class="col-sm-3">
                    <div class="vote-item">
                        <div class="vote-item-image">
                            <img width="100%" height="100%" class="logo-smile" src="assets/img/artpix.jpg" alt="logo-label">
                        </div>
                        <div class="vote-item-info">
                            <h4 class="vote-item-title">4 mùa của em</h4>
                            <p class="vote-item-author">Nguyễn Minh Khôi</p>
                            <div class="vote-action d-flex justify-content-center">
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="vote-item">
                        <div class="vote-item-image">
                            <img width="100%" height="100%" class="logo-smile" src="assets/img/artpix.jpg" alt="logo-label">
                        </div>
                        <div class="vote-item-info">
                            <h4 class="vote-item-title">4 mùa của em</h4>
                            <p class="vote-item-author">Nguyễn Minh Khôi</p>
                            <div class="vote-action d-flex justify-content-center">
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="vote-item">
                        <div class="vote-item-image">
                            <img width="100%" height="100%" class="logo-smile" src="assets/img/artpix.jpg" alt="logo-label">
                        </div>
                        <div class="vote-item-info">
                            <h4 class="vote-item-title">4 mùa của em</h4>
                            <p class="vote-item-author">Nguyễn Minh Khôi</p>
                            <div class="vote-action d-flex justify-content-center">
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="vote-item">
                        <div class="vote-item-image">
                            <img width="100%" height="100%" class="logo-smile" src="assets/img/artpix.jpg" alt="logo-label">
                        </div>
                        <div class="vote-item-info">
                            <h4 class="vote-item-title">4 mùa của em</h4>
                            <p class="vote-item-author">Nguyễn Minh Khôi</p>
                            <div class="vote-action d-flex justify-content-center">
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="vote-item">
                        <div class="vote-item-image">
                            <img width="100%" height="100%" class="logo-smile" src="assets/img/artpix.jpg" alt="logo-label">
                        </div>
                        <div class="vote-item-info">
                            <h4 class="vote-item-title">4 mùa của em</h4>
                            <p class="vote-item-author">Nguyễn Minh Khôi</p>
                            <div class="vote-action d-flex justify-content-center">
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-primary " type="button"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</section>