<section class="voting-list mt-5">
    <div class="container">
        <h2 class="text-center mb-3">BÀI DỰ THI</h2>
        <div class=" mb-5 row search-form number  mx-auto" style="    max-width: 320px;">
            <input  placeholder="Tìm theo mã dự thi (vd: 20)" #searchKey class="form-control " type="number" name="search" id="search" [(value)]="examId" (keydown.enter)="onSearch(searchKey.value)">
            <a [hidden]="examId == ''" class="clear-action" href="javascript:;" (click)="onSearch('')"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a  class="search-action" href="javascript:;" (click)="onSearch(searchKey.value)"><i class="fa fa-search" aria-hidden="true"></i></a>
        </div>

        <div class="voting-list">
   
            <div *ngIf="lstPainting?.length == 0 && examId != ''" class="h-50 text-center text-muted">
                Không tìm thấy bài dự thi nào có mã "<b>{{ examId }}</b>"
            </div>
            <div *ngIf="lstPainting.length == 1" class="row justify-content-center">
                <div *ngFor="let item of lstPainting" class="col-sm-8">
                    <div class="vote-item">
                        <div class="vote-item-image mb-2">
                            <div class="vote-code"> <span> {{ item?.ExamId }}</span></div>
                            <div class="vote-image focus-img">
                                <img width="100%" height="100%" class="logo-smile" title="{{item?.Name}} {{item?.Description ? '- ' + item?.Description : ''}}" [src]="'https://hvn.gapit.com.vn/' +item?.Image" alt="logo-label">
                            </div>
                            <div class="vote-info d-flex align-items-center justify-content-center">
                                <i class="fa fa-thumbs-up ml-2 " aria-hidden="true"></i>
                                <div class="vote-info-like mx-2">
                                   {{item.NumberOfLikes}}
                                </div>
                            </div>
                        </div>
                        <div class="vote-item-info text-center">
                            <h5 class="vote-item-title text-truncate mb-0"  title="{{item?.Name}} {{item?.Description ? '- ' + item?.Description : ''}}">{{item?.Name}}</h5>
                            <p class="vote-item-author text-capitalize mb-0">{{item?.StudentName}}</p>
                            <p class="text-muted mb-2  text-truncate" title="{{item?.Province}}" style="font-size: 12px;">{{item?.Province}}</p>
                            <div class="vote-action d-flex justify-content-center">
                                <!-- <button [disabled]="isLiking" *ngIf="!item.isLiked" class="btn btn-primary btn-gradient mr-2" title="Bình chọn" type="button" (click)="likePainting(item?.ExamId)"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <buttonsabled]="isDisLiking" *ngIf="item?.isLiked" style="opacity: .5;" class="btn bg-dark mr-2" title="Bỏ chọn" type="button" (click)="dislikePainting(item.ExamId)"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button> -->
                                <button class="btn btn-primary btn-gradient" title="Chia sẻ" type="button" (click)="fb($event, item?.ExamId)"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="lstPainting.length > 1" class="row">
                <div *ngFor="let item of lstPainting" class="col-sm-6 col-md-4 col-lg-3">
                    <div class="vote-item">
                        <div class="vote-item-image mb-2">
                            <div class="vote-code"> <span> {{ item?.ExamId }}</span></div>
                            <div class="vote-image">
                                <img width="100%" height="100%" class="logo-smile" title="{{item?.Name}} {{item?.Description ? '- ' + item?.Description : ''}}" [src]="'https://hvn.gapit.com.vn/' +item?.Image" alt="logo-label">
                            </div>
                            <div class="vote-info d-flex align-items-center">
                                <i class="fa fa-thumbs-up ml-2 " aria-hidden="true"></i>
                                <div class="vote-info-like w-100">
                                   {{item.NumberOfLikes}}
                                </div>
                            </div>
                        </div>
                        <div class="vote-item-info text-center">
                            <h5 class="vote-item-title text-truncate mb-0"  title="{{item?.Name}} {{item?.Description ? '- ' + item?.Description : ''}}">{{item?.Name}}</h5>
                            <p class="vote-item-author text-capitalize mb-0">{{item?.StudentName}}</p>
                            <p class="text-muted mb-2  text-truncate" title="{{item?.Province}}" style="font-size: 12px;">{{item?.Province}}</p>
                            <div class="vote-action d-flex justify-content-center">
                                <!-- <button [disabled]="isLiking" *ngIf="!item.isLiked" class="btn btn-primary btn-gradient mr-2" title="Bình chọn" type="button" (click)="likePainting(item?.ExamId)"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button>
                                <button [disabled]="isDisLiking" *ngIf="item?.isLiked" style="opacity: .5;" class="btn bg-dark mr-2" title="Bỏ chọn" type="button" (click)="dislikePainting(item.ExamId)"> <i class="fa fa-thumbs-up text-white" aria-hidden="true"></i></button> -->
                                <button class="btn btn-primary btn-gradient" title="Chia sẻ" type="button" (click)="fb($event, item?.ExamId)"> <i class="fa fa-share" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div *ngIf="lstPainting?.length < total && lstPainting?.length > 0"  class="text-center mb-3"><button [class.is-loading]="loadingVote" class="btn btn-light" type="button" (click)="loadMore()">Tải thêm</button></div>
        </div>
    </div>
</section>


