<section class="resource-list fix-container" style="max-width: 1440px;margin:0 auto;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-accordion mt-5 pt-5">
                    <accordion class="accordion" [isAnimated]="true" [closeOthers]="true">

                        <accordion-group [isOpen]="category?.id === currentCategory?.parent" *ngFor="let category of materialCategories">
                            <h2 accordion-heading class="mb-0">
                                <button class="btn btn-link" type="button">
                                    {{category?.name}}
                                </button>
                                <i class="fa fa-angle-down pull-right"></i>
                            </h2>
                            <div class="collapse show ">
                                <div>
                                    <ul class="cat-list">
                                        <li [class.active]="subCat?.id == categoryId" class="cat-item" *ngFor="let subCat of category?._parent">
                                            <a [routerLink]="['/material',subCat?.slug, subCat?.id]">{{subCat?.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>

                </div>
            </div>
            <div class="col-md-9">
                <div class="resource-content gray-section">
                    <div class="banner" [style.background-image]="'url('+ bannerUrl +')'">
                        <div class="overlay"></div>
                        <div class="content">
                            <h5 *ngIf="!currentParentCategory" class="text-uppercase">Tài Liệu Giáo Dục</h5>
                            <h6 *ngIf="currentParentCategory" class="text-uppercase">Tài Liệu Giáo Dục theo {{currentParentCategory?.name}}</h6>
                            <h1><i>{{currentCategory?.name}}</i></h1>
                          <p style="max-width: 600px;">Truy cập tài liệu giáo dục <strong class="text-primary">"Nụ Cười Rạng Rỡ, Tương Lai Tươi Sáng"</strong> của Colgate để khuyến khích trẻ xây dựng những thói quen lành mạnh.</p> 
                            <!-- <a class="btn btn-light btn-sm text-primary" href="#">Khám phá</a> -->
                        </div>
                    </div>

                    <div class="toolbar m-3 d-flex justify-content-end">
                        <div class="form-group row sort-form">
                            <label class="col-sm-4 col-form-label no-wrap">Sắp xếp theo</label>
                            <div class="col-sm-8">
                                <select  #mySelect class="custom-select colgate" (change)='onOptionsSelected(mySelect.value)'>
                                    <option value="" disabled selected>Tiêu chí</option>
                                    <option value="title">Tên A-Z</option>
                                    <option value="-title">Tên Z-A</option>
                                    <option value="likeCount">Hạng cao - thấp</option>
                                    <option value="-likeCount">Hạng thấp - cao</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="resource-card-list px-3" style="min-height: 400px;">
                        <ng-container *ngIf="!materials?.length && !loading" >
                            <div style="min-height: 400px;" class="text-muted d-flex align-items-center justify-content-center">Chưa có tài nguyên nào !</div>
                        </ng-container>
                        <div class="row">

                            <div class=" col-lg-4 col-md-6" *ngFor="let item of materials;trackBy: trackByFn">
                                <div class="resource-card-item">
                                    <a [routerLink]="['/material/detail',item?.slug, getCategoryByType(item)?.slug, item?.id]" title="{{item?.title?.rendered}}">  <div class="resource-thumbnail">
                                       <img [src]="item?.thumbnailUrl">
                                    </div></a>
                                    <div class="resource-card-des">
                                        <h6 class="text-primary text-uppercase">{{getCategoryByActivity(item).name}}</h6>
                                        <div class="title"><a [routerLink]="['/material/detail',item?.slug, getCategoryByType(item)?.slug, item?.id]" title="{{item?.title?.rendered}}">{{item?.title?.rendered}}</a></div>
                                        <div class="bottom-card">
                                            <div class="d-flex align-items-center"><img class="mr-2" width="18" src="assets/img/like.png" alt="like"><span style="font-size: 16px"> {{ item?.likeCount || 0}}</span></div>
                                            <div *ngIf="getCategoryByAge(item)">{{getCategoryByAge(item)?.name}}</div>
                                            <a class="action" title="Xem chi tiết" [routerLink]="['/material/detail',item?.slug, getCategoryByType(item)?.slug, item?.id]"><i class="fa fa-angle-right" ></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="text-center py-4" *ngIf="total > materials?.length">
                            <button [class.is-loading]="loading" type="button" class="btn btn-light text-primary" (click)="loadMore()">Tải thêm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
