<section class="resource-list fix-container">
    <div class="container-fluid">
       <div class="row">
           <div class="col-md-3">
               <div class="category-accordion mt-5 pt-5">
                <accordion class="accordion" [isAnimated]="true">
                  <accordion-group >
                      <h2 accordion-heading class="mb-0">
                        <button class="btn btn-link" type="button" >
                          Nhóm tuổi
                        </button>
                        <i class="fa fa-angle-down pull-right" ></i>
                      </h2>
                      <div class="collapse show ">
                        <div class="card-body">
                            <ul class="cat-list">
                                <li  class="cat-item active">
                                    <a href="#">Trẻ sơ sinh và trẻ mới biết đi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 3 - 4 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 5 - 6 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 7 - 8 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 9 - 12 tuổi</a>
                                </li>

                            </ul>
                        </div>
                      </div>
                  </accordion-group>
                  <accordion-group  >
                    <h2 accordion-heading class="mb-0">
                      <button class="btn btn-link" type="button" >
                        Nhóm tuổi
                      </button>
                      <i class="fa fa-angle-down pull-right" ></i>
                    </h2>
                    <div class="collapse show ">
                      <div class="card-body">
                          <ul class="cat-list">
                              <li  class="cat-item active">
                                  <a href="#">Trẻ sơ sinh và trẻ mới biết đi</a>
                              </li>
                              <li class="cat-item">
                                  <a  href="#">Từ 3 - 4 tuổi</a>
                              </li>
                              <li class="cat-item">
                                  <a  href="#">Từ 5 - 6 tuổi</a>
                              </li>
                              <li class="cat-item">
                                  <a  href="#">Từ 7 - 8 tuổi</a>
                              </li>
                              <li class="cat-item">
                                  <a  href="#">Từ 9 - 12 tuổi</a>
                              </li>

                          </ul>
                      </div>
                    </div>
                </accordion-group>
                <accordion-group >
                  <h2 accordion-heading class="mb-0">
                    <button class="btn btn-link" type="button" >
                      Nhóm tuổi
                    </button>
                    <i class="fa fa-angle-down pull-right" ></i>
                  </h2>
                  <div class="collapse show ">
                    <div class="card-body">
                        <ul class="cat-list">
                            <li  class="cat-item active">
                                <a href="#">Trẻ sơ sinh và trẻ mới biết đi</a>
                            </li>
                            <li class="cat-item">
                                <a  href="#">Từ 3 - 4 tuổi</a>
                            </li>
                            <li class="cat-item">
                                <a  href="#">Từ 5 - 6 tuổi</a>
                            </li>
                            <li class="cat-item">
                                <a  href="#">Từ 7 - 8 tuổi</a>
                            </li>
                            <li class="cat-item">
                                <a  href="#">Từ 9 - 12 tuổi</a>
                            </li>

                        </ul>
                    </div>
                  </div>
              </accordion-group>
                  <!-- <accordion-group heading="Another group">
                    <p>Some content</p>
                  </accordion-group>
                  <accordion-group heading="Another group">
                    <p>Some content</p>
                  </accordion-group>
                  <accordion-group heading="Another group">
                    <p>Some content</p>
                  </accordion-group> -->
                </accordion>
                <!-- <div class="accordion" id="accordionExample">
                    <div class="card">
                      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" >
                            Nhóm tuổi
                          </button>
                          <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                        </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul class="cat-list">
                                <li  class="cat-item active">
                                    <a href="#">Trẻ sơ sinh và trẻ mới biết đi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 3 - 4 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 5 - 6 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 7 - 8 tuổi</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Từ 9 - 12 tuổi</a>
                                </li>

                            </ul>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" >
                              Hoạt động
                            </button>
                            <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                          </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                          <div class="card-body">
                              <ul class="cat-list">
                                  <li  class="cat-item">
                                      <a href="#">Màu sắc</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Lắng nghe</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Chơi</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Kiểm tra</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Đọc</a>
                                  </li>
                                  <li class="cat-item">
                                    <a  href="#">Hát</a>
                                </li>
                                <li class="cat-item">
                                    <a  href="#">Xem</a>
                                </li>

                              </ul>
                          </div>
                        </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link" type="button" >
                              Loại tài liệu
                            </button>
                            <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                          </h2>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                          <div class="card-body">
                              <ul class="cat-list">
                                  <li  class="cat-item">
                                      <a href="#">Loại tài liệu 1</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Loại tài liệu 2</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Loại tài liệu 3</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Loại tài liệu 4</a>
                                  </li>
                                  <li class="cat-item">
                                      <a  href="#">Loại tài liệu 5</a>
                                  </li>

                              </ul>
                          </div>
                        </div>
                      </div>

                  </div> -->
               </div>
           </div>
           <div class="col-md-9">
            <div class="resource-content gray-section">
                <div class="banner">
                    <div class="overlay"></div>
                    <div class="content">
                        <h1>Tài nguyên giáo dục cho giáo viên</h1>
                        <a class="btn btn-light btn-sm text-primary" href="#">Khám phá</a>
                    </div>
                </div>

                <div class="toolbar m-3 d-flex justify-content-end">
                    <div class="form-group row sort-form">
                        <label class="col-sm-4 col-form-label no-wrap">Sắp xếp theo</label>
                        <div class="col-sm-8">
                            <select class="custom-select">
                                <option selected>Thứ hạng</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                      </div>
                </div>
                <div class="resource-card-list px-3">
                    <div class="row">
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-1.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-2.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-3.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-1.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-2.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-3.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-1.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-2.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-lg-4 col-md-6">
                            <div class="resource-card-item">
                                <div class="resource-thumbnail">
                                    <img src="assets/img/t-3.jpg">
                                </div>
                                <div class="resource-card-des">
                                    <h6 class="text-primary text-uppercase">KIỂM TRA</h6>
                                    <div class="title">Hướng dẫn cho Giáo viên Chương trình Giáo dục Sức khỏe Răng miệng cho Pre-K</div>
                                    <div class="bottom-card">
                                        <span><i class="fa fa-smile-o" aria-hidden="true"></i> 700</span>
                                        <div>Từ 2-7 tuổi</div>
                                        <a class="action" title="Xem chi tiết" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-center py-4">
                        <button class="btn btn-light text-primary">Tải thêm</button>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</section>
