


<div class="art-contest-container">
  <nav class="navbar d-flex navbar-expand-lg navbar-light" style="width: 100%;height:70px;">
    <div class="navbar-wrapper mr-auto"><a class="logo" routerLink="/"><img src="assets/img/logo.png" alt=""></a></div>
  </nav>
 <div class="action">
    <button type="button" class="btn btn-lg btn-light btn-round  mb-3" (click)="openRegisterModal()">Đăng ký</button> <br>
    <button type="button" class="btn btn-lg btn-light btn-round " (click)="openLoginModal()" >Đăng nhập</button>
  </div>

  <div class="deadline">
    <h3>Thời gian:</h3>
    <p>2/2-2022</p>
    <p>2/2-2022</p>
  </div>

</div>


