.red-bg{
  position: relative;
  background-image: url('/assets/img/red-curse.svg');
  background-size: contain;
  background-position: top;
  margin-top: -32.5%;
  background-repeat: no-repeat;
  height: 0;
  padding: 16%;
  width: 100vw;
  pointer-events: none;
}
.art-contest-container {
  background-image: url('/assets/img/art-bg-ano.jpg');
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  width: 100vw;
  position: relative;



  @media only screen and (max-width: 1366px) {
    // background-size: contain, contain;
    // background-attachment: fixed;
  }


}

.container-contest{
  max-width: 85vw;
  margin: 0 auto;
  @media only screen and (max-width: 1366px) {
    max-width: 95vw;
    margin: 0 auto;
  }
}

.action{
  position: absolute;
  top: 58%;
  left: 64%;
  button{
    min-width: 160px !important;
    box-shadow: 0px 9px 15px hsla(0, 0%, 0%, 0.141);
  }
}

.deadline{
  background-image: url('/assets/img/time.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  width: 260px;
  height: 260px;
  position: absolute;
  top: 60%;
  left: 74%;
  text-align: center;
  padding: 3rem 0rem 0rem 2.5rem;
}
