<div class="modal-body bg-primary text-white">
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
<h6 class="text-center mb-3">CẢM ƠN BẠN ĐÃ THAM GIA BÌNH CHỌN CHO TÁC PHẨM</h6>
<div class="info row">
  <div class="col-sm-5">
      <p style="letter-spacing: 1px;">Hãy để lại thông tin, <strong>COLGATE</strong> sẽ gửi tặng<br>bạn 1 món quà nhé</p>
  </div>
  <div class="col-sm-7">
      <form  [formGroup]="giftForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-2" hasError="phone">
              <input type="text" class="form-control" formControlName="phone" placeholder="Số điện thoại" name="phone" id="phone"   pattern="((0|84)[3|5|7|8|9][0-9]{8})">
              <div errorMessage>
                <div class="invalid-feedback text-white" *ifError="'pattern'" translate>
                  Số điện thoại sai định dạng (Ví dụ: 0912345678)
                </div>
                </div>
          </div>
          <div class="form-group mb-2" hasError="email">
              <input type="email" class="form-control" formControlName="email" placeholder="Email" name="email" id="email">
              <div errorMessage>
                <div class="invalid-feedback text-white" *ifError="'email'" translate>
                  Sai định dạng email
                </div>
              </div>
          </div>
          <div class="text-center">
              <button type="submit" class="btn btn-sm btn-light py-1">GỬI</button>
          </div>
      </form>
  </div>
</div>
</div>