<div class="modal-body bg-primary text-white">
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" style="
  z-index: 1;
  position: relative;
">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="text-center" style="
    position: relative;
    top: -16px;
"><img width="120" src="assets/img/logo.png" alt="logo"></p>
<h6 class="text-center mb-3">CẢM ƠN BẠN ĐÃ THAM GIA BÌNH CHỌN CHO TÁC PHẨM</h6>
<div *ngIf="this.isSuccess" class="text-center text-white">
  Chúng tôi đã nhận được yêu cầu của bạn. Phần quà sẽ được gửi tới bạn qua thông tin mà bạn đã cung cấp. <br>Mã evoucher của bạn là <b>{{voucherVoting}}</b> vui lòng kiểm tra email mà bạn đã cung cấp!
</div>
<div *ngIf="!this.isSuccess" class="info row">
  <div class="col-sm-12">
      <p style="letter-spacing: 1px;     text-align: center;">Hãy để lại thông tin, <strong>COLGATE</strong> sẽ gửi tặng<br>bạn 1 món quà nhé</p>
  </div>
  <div class="col-sm-12">

      <form   [formGroup]="giftForm" (ngSubmit)="onSubmit()">

          <!-- <div [hidden]="true" class="form-group mb-2" hasError="phone">
              <input type="text" class="form-control" formControlName="phone" placeholder="Số điện thoại" name="phone" id="phone"   pattern="((0|84)[3|5|7|8|9][0-9]{8})">
              <div errorMessage>
                <div class="invalid-feedback text-white" *ifError="'pattern'" translate>
                  Số điện thoại sai định dạng (Ví dụ: 0912345678)
                </div>
                </div>
          </div> -->
          <div class="form-group mb-2" hasError="email" style="          max-width: 320px;          margin: 0 auto;      ">
              <input type="email" class="form-control" formControlName="email" placeholder="Email" name="email" id="email">
              <div errorMessage>
                <div class="invalid-feedback text-white" *ifError="'email'" translate>
                  Sai định dạng email
                </div>
              </div>
          </div>
          <div class="text-center">
              <button [class.is-loading]="loading" type="submit" class="btn btn-sm btn-light py-1">GỬI</button>
          </div>
          <small *ngIf="error" class="text-white">{{this.error}}</small>
      </form>

  </div>
</div>
</div>
