<div class="resource-section">
    <div class="container">
        <h4 class="mb-4">Tài nguyên theo hoạt động</h4>
        <div class="resource-activity">
            <ngx-slick-carousel    #slickModal="slick-carousel"   class="carousel slider" [config]="slideConfig">
                    <a  ngxSlickItem *ngFor="let slide of activityList" [routerLink]="slide?.link">
                        <div class="resource-activity-item">
                            <div class="resource-thumbnail">
                                <img [src]="slide?.image">
                            </div>
                            <div class="resource-card-des">
                                {{slide?.title}}
                            </div>
                        </div></a>
            </ngx-slick-carousel>
        </div>
    </div>
</div>
