
<div class="dang-ki-page">
  <div *ngIf="currentUser?.UserType == 'teacher'" class="art-box">
    <h1>Mẫu đăng ký dự thi cho giáo viên </h1>
    <app-student-selector (selectStudent)="selectStudent($event)"></app-student-selector>
    <app-register-form-gv *ngIf="(state | async) == 0" (onSubmitRegister)="onSubmitRegister($event)" [studentInfo]="studentInfo"></app-register-form-gv>
    <app-contest-form *ngIf="(state | async) == 1" (onSubmitArt)="onSubmitArt()" [formId]="formId"></app-contest-form>
    <app-success-submit *ngIf="(state | async) == 2"></app-success-submit>
  </div>
</div>
