<div class="resource-section">
    <div class="container">
        <h2>Tài Liệu/ Thư Viện Tài Liệu</h2>
        <nav class="nav-colgate nav nav-pills nav-justified">
            <a class="nav-link text-bold" [class.active]="currentCat == null" (click)="getBest()" href="javascript:;">Tải nhiều</a>
            <a class="nav-link text-bold" [class.active]="currentCat?.id == cat?.id" *ngFor="let cat of whoCategoryList" (click)="getCategory(cat)" href="javascript:;">{{cat?.name}}</a>
        </nav>

        <div style="min-height: 300px;">
        <ng-container *ngIf="currentResourceList?.length > 0">
            <ngx-slick-carousel   (init)="slickInit($event)"    #slickModal="slick-carousel"   class="carousel list-resource-card slider" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of currentResourceList" class="resource-card-wrapper">
                    <div class="resource-card">
                        <a class="action" [routerLink]="['/material/detail',slide?.slug, getCategoryByType(slide)?.slug, slide?.id]" title="{{slide?.title?.rendered}}"><div class="resource-thumbnail">
                            <img [src]="slide?.thumbnailUrl">
                        </div> </a>
                        <div class="resource-card-des">
                            <div class="title"> <a  [routerLink]="['/material/detail',slide?.slug, getCategoryByType(slide)?.slug, slide?.id]" title="{{slide?.title?.rendered}}">{{slide?.title?.rendered}}</a></div>
                            <a class="action" [routerLink]="['/material/detail',slide?.slug, getCategoryByType(slide)?.slug, slide?.id]" title="{{slide?.title?.rendered}}"><i class="fa fa-angle-right"
                                    aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
        </ng-container>
        </div>
        <a [routerLink]="'/material'" class="btn btn-light">Xem tất cả tài liệu <i class="fa fa-angle-right fa-2x ml-2 "  aria-hidden="true"></i></a>
       
    </div>
</div>