<div class="modal-body p-4">
  <h3 class="text-primary text-center mt-4">Điều khoản của chương trình</h3>
  <div class="box-term p-3 mb-3">
      <p>Các kỹ năng được kiểm tra trong SAT bao gồm đọc hiểu, ngôn ngữ, giải toán và viết luận (tùy
          chọn). Phần đọc hiểu gồm 52 câu với thời gian làm bài là 65 phút, ngôn ngữ có 44 câu trong
          35 phút, toán không máy tính có 20 câu trong 25 phút, toán có máy tính gồm 38 câu trong 35
          phút. Nếu chọn làm thêm phần viết luận bạn sẽ có 1 câu với thời lượng làm bài trong 50 phút.
          Trừ viết luận, các phần thi còn lại đều có hình thức trắc nghiệm. Nội dung được chọn vào đề
          thi chỉ giới hạn trong phạm vi được học trong giáo trình cấp ba tại Mỹ.

      </p>
      <p> Các kỹ năng được kiểm tra trong SAT bao gồm đọc hiểu, ngôn ngữ, giải toán và viết luận (tùy
          chọn). Phần đọc hiểu gồm 52 câu với thời gian làm bài là 65 phút, ngôn ngữ có 44 câu trong
          35 phút, toán không máy tính có 20 câu trong 25 phút, toán có máy tính gồm 38 câu trong 35
          phút. Nếu chọn làm thêm phần viết luận bạn sẽ có 1 câu với thời lượng làm bài trong 50 phút.
          Trừ viết luận, các phần thi còn lại đều có hình thức trắc nghiệm. Nội dung được chọn vào đề
          thi chỉ giới hạn trong phạm vi được học trong giáo trình cấp ba tại Mỹ.</p>
  </div>

  <div class="input-group mt-3">
      <button type="submit" class="btn btn-primary btn-block">Xác nhận</button>
  </div>
</div>
